<template lang="pug">
.app-loader
  .preloader-wrapper.active
    .spinner-layer(:class="color")
      .circle-clipper.left
        .circle
      .gap-patch
        .circle
      .circle-clipper.right
        .circle
</template>

<script>
export default {
  computed: {
    color() {
      const colors = [
        'spinner-green-only',
        'spinner-blue-only',
        'spinner-red-only'
      ];
      return colors[Math.floor(Math.random() * 3)];
    }
  }
};
</script>