<template lang="pug">
  ul.sidenav.app-sidenav(:class="{ open: value }")
    router-link(v-for="link in links" :key="link.url" tag="li" active-class="active" :to="link.url" :exact="link.exact")
      a.waves-effect.waves-orange.pointer(href='#' @click="closeSideBar") {{link.title}}

</template>

<script>
import detectMob from '@/utils/check_mobile';
export default {
  props: ['value'],
  data: () => ({
    links: [
      { title: 'Главная', url: '/', exact: true },
      { title: 'Категории Расходов', url: '/categories' },
      { title: 'Копилка', url: '/moneyboxes', exact: true },
      { title: 'История Расходов', url: '/history' },
      { title: 'Планирование', url: '/planning' },
      { title: 'Записи', url: '/record' }
    ]
  }),
  methods: {
    async logout() {
      await this.$store.dispatch('logout');
      this.$router.push('/login?message=logout');
    },
    closeSideBar() {
      if (detectMob()) {
        this.$emit('close_sidebar');
      }
    }
  }
};
</script>