<template lang="pug">
div
  .page-title
    h3 Категории
  section
    Loader(v-if="loading")
    .row(v-else)
      CategoryCreate(@created="addNewCategory")
      CategoryEdit(:categories="categories", @updated="updateCategories", @removeCategory="removeCategory" :key="categories.length + updateCount" v-if="categories.length", :idx="idx")
      h5(v-else) У вас нет категорий для редактирования
</template>

<script>
import CategoryCreate from '@/components/CategoryCreate';
import CategoryEdit from '@/components/CategoryEdit';
export default {
  name: 'categories',
  data() {
    return {
      categories: [],
      loading: true,
      updateCount: 0,
      idx: 0
    };
  },
  components: {
    CategoryCreate,
    CategoryEdit
  },
  async mounted() {
    this.categories = await this.$store.dispatch('fetchCategories');
    this.loading = false;
  },
  methods: {
    addNewCategory(category) {
      this.categories.push(category);
    },
    updateCategories(category) {
      this.idx = this.categories.findIndex(c => c.id === category.id);
      this.categories[this.idx].title = category.title;
      this.categories[this.idx].limit = category.limit;
      this.updateCount++;
    },
    async removeCategory(categoryId) {
      try {
        this.loading = true;
        await this.$store.dispatch('deleteCategory', categoryId);
        this.categories = await this.$store.dispatch('fetchCategories');
        this.loading = false;
      } catch (error) {}
    }
  }
};
</script>

<style>
</style>