<template lang="pug">
div
  .page-title
    h3 История
  .history-chart
    canvas(ref="canvas")
  Loader(v-if="loading")
  p.center(v-else-if="!records.length") Записей пока нет
    router-link.blue-text.bold.center(to="/record") Добавьте запись
  section(v-else )
    HistoryTable(:records="items")
    Paginate(
      v-model="page"
      :page-count="pageCount" 
      :next-text="'Вперед'" 
      :prev-text="'Назад'" 
      :container-class="'pagination'" 
      :active-class="'active blue'"
      :clickHandler="pageChangeHandler" 
      :page-class="'waves-effect blue-text'"
      )

</template>
<script>
import paginationMixin from '@/mixins/pagination.mixin';
import HistoryTable from '@/components/HistoryTable';
import { Pie } from 'vue-chartjs';

export default {
  name: 'history',
  extends: Pie,
  mixins: [paginationMixin],
  data() {
    return {
      loading: true,
      records: [],
      pageSize: 10
    };
  },
  components: {
    HistoryTable
  },
  async mounted() {
    try {
      this.records = await this.$store.dispatch('fetchRecords');
      const categories = await this.$store.dispatch('fetchCategories');

      this.setup(categories);

      this.loading = false;
    } catch (error) {}
  },
  methods: {
    setup(categories) {
      this.setupPagination(
        this.records.map(record => {
          return {
            ...record,
            categoryName: categories.find(c => c.id === record.categoryId)
              .title,
            typeClass: record.type === 'income' ? 'green' : 'red',
            typeText: record.type === 'income' ? 'Доход' : 'Расход'
          };
        })
      );
      this.renderChart({
        labels: categories.map(c => c.title),
        datasets: [
          {
            label: 'Расходы по категориям',
            data: categories.map(c => {
              return this.records.reduce((total, r) => {
                if (r.categoryId === c.id && r.type === 'outcome') {
                  total += +r.amount;
                }
                return total;
              }, 0);
            }),
            backgroundColor: categories.map(() => {
              return `rgba(${Math.floor(Math.random() * 255)},${Math.floor(
                Math.random() * 255
              )},${Math.floor(Math.random() * 255)}, 0.5 )`;
            }),
            borderColor: categories.map(() => {
              return `rgba(${Math.floor(Math.random() * 255)},${Math.floor(
                Math.random() * 255
              )},${Math.floor(Math.random() * 255)}, 1 )`;
            }),
            borderWidth: 1
          }
        ]
      });
    }
  }
};
</script>
