<template lang="pug">
div
  .page-title
    h3 Аккаунт
    button.btn.waves-effect.waves-light.btn-small(@click='refresh')
      i.material-icons refresh
  Loader(v-if="loading")
  .row(v-else)
    HomeBill(:rates="currency.rates")
    HomeCurrency(:rates="currency.rates" :date="currency.date")
  .page-title
    h3 Копилки
  MoneyBoxes

</template>

<script>
import MoneyBoxes from '@/components/MoneyBoxes';
import HomeBill from '@/components/HomeBill';
import HomeCurrency from '@/components/HomeCurrency';
export default {
  /* eslint-disable */
  name: 'home',
  data: () => ({
    loading: true,
    currency: null
  }),
  async mounted() {
    this.currency = await this.$store.dispatch('fetchCurrency');
    this.loading = false;
  },
  components: {
    HomeBill,
    HomeCurrency,
    MoneyBoxes
  },
  methods: {
    async refresh() {
      this.loading = true;
      this.currency = await this.$store.dispatch('fetchCurrency');
      this.loading = false;
    },
    generateColor() {
      return this.colors[Math.floor(Math.random() * this.colors.length)];
    }
  }
};
</script>
