<template lang="pug">
div
  form.card(@submit.prevent="submitHandler" :class="{ 'auth-card': !detectMob }")
    .card-content
      span.card-title Home Account
      .input-field
        input.validate#email(type='text' v-model.trim="email" :class="{invalid: ($v.email.$dirty && !$v.email.required) || ($v.email.$dirty && !$v.email.email) }")
        label(for='email') Email
        small.helper-text.invalid(v-if="$v.email.$dirty && !$v.email.required") Поле Email не должно быть пустым
        small.helper-text.invalid(v-if="$v.email.$dirty && !$v.email.email") Не правильный Email
      .input-field
        input.validate(type='password' id="password" v-model.trim="password" :class="{invalid: ($v.password.$dirty && ! $v.password.required) || ($v.password.$dirty && !$v.password.minLength) }")
        label(for='password') Пароль
        small.helper-text.invalid(v-if="$v.password.$dirty && !$v.password.required") Требуется Пароль
        small.helper-text.invalid(v-if="$v.password.$dirty && !$v.password.minLength") Пароль слишком маленький, требуемая длина {{$v.password.$params.minLength.min}} символов
    .card-action
      div
        button.btn.waves-effect.waves-light.auth-submit(type='submit')
          | &Vcy;&ocy;&jcy;&tcy;&icy;
          i.material-icons.right send
      p.center
        | Нет Аккаунта? 
        router-link.light-blue-text(to='/register') Регистрация
</template>


<script>
import { email, required, minLength } from 'vuelidate/lib/validators';
import { KEYS } from '@/utils/messages';
export default {
  name: 'login',
  data: () => ({
    email: '',
    password: ''
  }),
  computed: {
    detectMob() {
      const toMatch = [
        /Android/i,
        /webOS/i,
        /iPhone/i,
        /iPad/i,
        /iPod/i,
        /BlackBerry/i,
        /Windows Phone/i
      ];

      return toMatch.some(toMatchItem => {
        return navigator.userAgent.match(toMatchItem);
      });
    }
  },
  validations: {
    email: { email, required },
    password: { required, minLength: minLength(6) }
  },
  mounted() {
    if (KEYS[this.$route.query.message]) {
      this.$message(KEYS[this.$route.query.message]);
    }
  },
  methods: {
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }
      const formData = {
        email: this.email,
        password: this.password
      };
      try {
        await this.$store.dispatch('login', formData);
        this.$message(KEYS['login_success']);
        this.$router.push('/');
      } catch (e) {
        // this.$error(KEYS["login_error"]);
      }
    }
  }
};
</script>

<style>
</style>