<template lang="pug">
div
  .page-title
    h3 Копилка
  section
    Loader(v-if="loading")
    .row(v-else)
      MoneyBoxCreate(@created="addNewMoneyBox")
    .row
      div(v-for="moneybox in moneyBoxes" :key="moneybox.id")
        MoneyBox(:moneybox="moneybox")
</template>

<script>
import MoneyBox from '@/components/MoneyBox';
import MoneyBoxCreate from '@/components/MoneyBoxCreate';
import MoneyBoxEdit from '@/components/MoneyBoxEdit';
export default {
  name: 'moneybox',
  data: () => ({
    loading: true,
    moneyBoxes: [],
    idx: 0,
    updateCount: 0
  }),
  components: {
    MoneyBoxCreate,
    MoneyBoxEdit,
    MoneyBox
  },
  async mounted() {
    this.moneyBoxes = await this.$store.dispatch('fetchMoneyBoxes');
    this.loading = false;
  },
  methods: {
    addNewMoneyBox(moneyBox) {
      this.moneyBoxes.push(moneyBox);
    },
    updateMoneyBoxes(moneyBox) {
      this.idx = this.moneyBoxes.findIndex(c => c.id === moneyBox.id);
      this.moneyBoxes[this.idx].title = moneyBox.title;
      this.moneyBoxes[this.idx].limit = moneyBox.limit;
      this.updateCount++;
    }
  }
};
</script>