<template lang="pug">
div
  h5 Ваш счет 
    span.orange-text.bold(style="fontSize: 1.5em") {{info.bill}}р
  Loader(v-if="loading")
  div(v-else-if="moneybox")
    .breadcrumb-wrap
      router-link.breadcrumb(to="/moneyboxes") История Копилки
      a.breadcrumb(@click.prevent)
    .row
      MoneyBox(:moneybox="moneybox")
      .col
        div
        .page-subtitle
          h4  Положить/Снять
        form.form(@submit.prevent="changeAmountOfMoneyBox")
          p
            label
              input.with-gap(name='type' type='radio' value='income' v-model="type")
              span Положить
          p
            label
              input.with-gap(name='type' type='radio' value='outcome' v-model="type")
              span Снять
          .input-field
            input#amount(type='number' v-model.number="amount" :class="{ invalid: $v.amount.$dirty && !$v.amount.minValue }")
            label(for='amount' ) сумма
            span.helper-text.invalid(v-if="$v.amount.$dirty && !$v.amount.minValue") Минимальное значение {{$v.amount.$params.minValue.min}}
          button.btn.waves-effect.waves-light(type='submit' v-if="type==='outcome'")  
            | Снять
            i.material-icons.right send
          button.btn.waves-effect.waves-light(type='submit' v-else)  
            | Положить
            i.material-icons.right send
      .col
        MoneyBoxEdit(:moneyBox="moneybox" @updated="updateData")
    p.center(v-if="!moneybox.records") Записей пока нет
    section(v-else)
      MoneyBoxRecordsTable(:records="moneybox.records")
      Paginate(
        v-model="page"
        :page-count="pageCount" 
        :next-text="'Вперед'" 
        :prev-text="'Назад'" 
        :container-class="'pagination'" 
        :active-class="'active blue'"
        :clickHandler="pageChangeHandler" 
        :page-class="'waves-effect blue-text'"
        )
</template>

<script>
import MoneyBoxRecordsTable from '@/components/MoneyBoxRecordsTable';
import paginationMixin from '@/mixins/pagination.mixin';
import { minValue } from 'vuelidate/lib/validators';
import MoneyBox from '@/components/MoneyBox';
import MoneyBoxEdit from '@/components/MoneyBoxEdit';
import { mapGetters } from 'vuex';
export default {
  name: 'detail',
  data() {
    return {
      moneybox: null,
      loading: true,
      type: 'income',
      amount: 1,
      records: [],
      pageSize: 10
    };
  },
  mixins: [paginationMixin],
  validations: {
    amount: { minValue: minValue(1) }
  },
  components: {
    MoneyBox,
    MoneyBoxEdit,
    MoneyBoxRecordsTable
  },
  computed: {
    ...mapGetters(['info'])
  },
  async mounted() {
    const id = this.$route.params.id;
    this.moneybox = await this.$store.dispatch('fetchMoneyBoxById', id);
    this.records = this.moneybox.records ? this.moneybox.records : [];
    this.setup();
    this.loading = false;
  },
  methods: {
    setup() {
      this.setupPagination(this.records);
    },
    async changeAmountOfMoneyBox() {
      let bill = this.$store.getters.info.bill;
      if (this.type === 'outcome') {
        if (this.amount < this.moneybox.amount) {
          bill += this.amount;
          this.moneybox.amount -= this.amount;
        } else {
          this.$error('Сумма снятия превышает сумму в копилке');
          return;
        }
      } else if (this.type === 'income') {
        if (this.amount < bill) {
          this.moneybox.amount += this.amount;
          bill -= this.amount;
        } else {
          this.$error('На вашем счету недостаточно средств');
          return;
        }
      }
      this.loading = true;

      await this.$store.commit('setInfo', { bill });
      const record = await this.$store.dispatch('createRecordToMoneyBoxById', {
        id: this.moneybox.id,
        amount: this.amount,
        type: this.type
      });
      await this.$store.dispatch('changeAmountOfMoneyBox', {
        id: this.moneybox.id,
        amount: this.moneybox.amount
      });
      this.amount = 1;
      this.moneybox.records.push(record);
      this.loading = false;
    },
    async updateData(id) {
      this.loading = true;
      this.moneybox = await this.$store.dispatch('fetchMoneyBoxById', id);
      this.loading = false;
    }
  }
};
</script>
