<template lang="pug">
  div
    .page-title
    
    h3 Планирование
    h4 {{info.bill | currency('RUB')}}
    Loader(v-if="loading")
    h6.center(v-else-if="!categories.length") Категории не созданы,
      router-link.blue-text.bold.center(to="/categories")  Создать 
    section(v-else)
      div(v-for="cat of categories" :key="cat.id")
        p
          strong {{cat.title}}:
          | {{cat.spend | currency }} из {{cat.limit | currency}}
        .progress(v-tooltip="cat.tooltip ")
          .determinate(:style="{width: cat.progressPercent + '%'}" :class="[cat.progressColor]")
</template>


<script>
import { mapGetters } from 'vuex';
import currencyFilter from '@/filters/currency.filter';
export default {
  name: 'planning',
  data() {
    return {
      loading: true,
      categories: []
    };
  },
  computed: {
    ...mapGetters(['info'])
  },
  async mounted() {
    try {
      const records = await this.$store.dispatch('fetchRecords');
      const categories = await this.$store.dispatch('fetchCategories');
      this.categories = categories.map(cat => {
        const spend = records
          .filter(r => r.categoryId === cat.id)
          .filter(r => r.type === 'outcome')
          .reduce((total, record) => {
            return (total += +record.amount);
          }, 0);
        const percent = (100 * spend) / cat.limit;
        const progressPercent = percent > 100 ? 100 : percent;
        const progressColor =
          percent < 60 ? 'green' : percent < 100 ? 'yellow' : 'red';
        const tooltipValue = cat.limit - spend;
        const tooltip = `${
          tooltipValue < 0 ? 'Превышение на' : 'Осталось'
        } ${currencyFilter(Math.abs(tooltipValue))}`;
        return { ...cat, progressPercent, progressColor, spend, tooltip };
      });
      this.loading = false;
    } catch (error) {}
  }
};
</script>