<template lang="pug">
  div
    .page-title 
      h3 {{'ProfileTitle' | localize}}
    form.form(@submit="submitHandler")
      .input-field
        input(id="name" type="text" v-model.trim="name" :class="{ invalid: ($v.name.$dirty && !$v.name.required) || ($v.name.$dirty && $v.name.minLength) || ($v.name.$dirty && !$v.name.alpha) }")
        label(for="name") Name
        small.helper-text.invalid(v-if="$v.name.$dirty && !$v.name.minLength") Слишком коротное имя, требуемая длина {{$v.name.$params.minLength.min}}
        small.helper-text.invalid(v-if="$v.name.$dirty && !$v.name.required") Требуется Имя
        small.helper-text.invalid(v-if="$v.name.$dirty && !$v.name.alpha") Имя может состоять только из букв
      .switch
        label English
          input(type="checkbox" v-model="isRuLocale")
          span.lever  
          | Русский

      button.btn.waves-effect.waves-light(type="submit") Обновить
        i.material-icons.right send
</template>

<style lang="scss" scoped>
.switch {
  margin-bottom: 2rem;
}
</style>

<script>
import { required } from 'vuelidate/lib/validators';
import { mapGetters, mapActions } from 'vuex';
export default {
  data() {
    return {
      name: '',
      isRuLocale: true
    };
  },
  validations: {
    name: { required }
  },
  computed: {
    ...mapGetters(['info'])
  },
  mounted() {
    setTimeout(() => {
      //eslint-disable-next-line
      M.updateTextFields();
    }, 0);
    this.name = this.info.name;
    this.isRuLocale = this.info.locale === 'ru-RU';
  },
  methods: {
    ...mapActions(['updateInfo']),
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }
      try {
        await this.updateInfo({
          name: this.name
        });
      } catch (error) {}
    }
  },
  watch: {
    async isRuLocale(locale) {
      try {
        await this.updateInfo({
          name: this.name,
          locale: locale ? 'ru-RU' : 'en-US'
        });
      } catch (error) {}
    }
  }
};
</script>