<template lang="pug">
div
  .page-title
    h3 Новая Запись
  h5 Ваш счет 
    span.orange-text.bold(style="fontSize: 1.5em") {{info.bill}}р
  Loader(v-if="loading")
  h6.center(v-else-if="!categories.length") Категории не созданы, 
    router-link.blue-text.bold.center(to="/categories")  Создать 
  form.form(v-else @submit.prevent="submitHandler")
    .input-field
      select(ref="select" v-model="category")
        option(v-for="c of categories" :key="c.id" :value="c.id") {{c.title}}
      label Выберите категорию
    p
      label
        input.with-gap(name='type' type='radio' value='income' v-model="type")
        span Доход
    p
      label
        input.with-gap(name='type' type='radio' value='outcome' v-model="type")
        span Расход
    .input-field
      input#amount(type='number' v-model.number="amount" :class="{ invalid: $v.amount.$dirty && !$v.amount.minValue }")
      label(for='amount' ) сумма
      span.helper-text.invalid(v-if="$v.amount.$dirty && !$v.amount.minValue") Минимальное значение {{$v.amount.$params.minValue.min}}
    .input-field
      input#description(type='text' v-model="description" :class="{ invalid: $v.description.$dirty && !$v.description.required }")
      label(for='description') Описание
      span.helper-text.invalid(v-if="$v.description.$dirty && !$v.description.required") Описание записи
    button.btn.waves-effect.waves-light(type='submit')  Создать
      i.material-icons.right send

</template>

<script>
import { required, minValue } from 'vuelidate/lib/validators';
import { mapGetters } from 'vuex';
export default {
  name: 'record',
  data() {
    return {
      loading: true,
      categories: [],
      select: null,
      category: null,
      type: 'outcome',
      amount: 1,
      description: ''
    };
  },
  validations: {
    description: { required },
    amount: { minValue: minValue(1) }
  },
  async mounted() {
    //eslint-disable-next-line
    this.categories = await this.$store.dispatch('fetchCategories');
    this.loading = false;
    if (this.categories) {
      this.category = this.categories[0].id;
    }
    setTimeout(() => {
      //eslint-disable-next-line
      this.select = M.FormSelect.init(this.$refs.select);
      //eslint-disable-next-line
      M.updateTextFields();
    }, 0);
  },
  destroyed() {
    if (this.select && this.select.destroy) {
      this.select.destroy();
    }
  },
  computed: {
    ...mapGetters(['info']),
    canCreateRecord() {
      if (this.type == 'income') {
        return true;
      }
      return this.info.bill >= this.amount;
    }
  },
  methods: {
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }
      if (this.canCreateRecord) {
        try {
          // const recordData = {
          //   Categoryid: this.category,
          //   description: this.description,
          //   amount: this.amount,
          //   type: this.type,
          //   data: new Date().toJSON()
          // };
          await this.$store.dispatch(
            'createRecord',
            {
              categoryId: this.category,
              description: this.description,
              amount: this.amount,
              type: this.type,
              date: new Date().toJSON()
            }

            // await this.$store.dispatch('updateCategory', categoryData);
            // this.$message('Категория успешно обновлена');
            // this.$emit('updated', recordData);
          );
          const bill =
            this.type === 'income'
              ? this.info.bill + this.amount
              : this.info.bill - this.amount;
          await this.$store.dispatch('updateInfo', { bill });
          this.$message('Запись успешно создана');
          this.$v.$reset();
          this.amount = 1;
          this.description = '';
        } catch (e) {}
      } else {
        this.$message(
          `У вас не хватает ${this.amount - this.info.bill}р на данный расход`
        );
      }
    }
  }
};
</script>