<template lang="pug">
div
  form.card(@submit.prevent="submitHandler" :class="{ 'auth-card': !detectMobile() }")
    .card-content
      span.card-title Home accounting
        .input-field
          input.validate(type='text' id="email" v-model.trim="email" :class="{invalid: ($v.email.$dirty && !$v.email.required) || ($v.email.$dirty && !$v.email.email) }")
          label(for='email') Email
          small.helper-text.invalid(v-if="$v.email.$dirty && !$v.email.required") Поле Email не должно быть пустым
          small.helper-text.invalid(v-if="$v.email.$dirty && !$v.email.email") Не правильный Email
        .input-field
          input.validate(type='password' id="password" v-model.trim="password" :class="{invalid: ($v.password.$dirty && ! $v.password.required) || ($v.password.$dirty && !$v.password.minLength) }")
          label(for='password') Password
          small.helper-text.invalid(v-if="$v.password.$dirty && !$v.password.required") Требуется Пароль
          small.helper-text.invalid(v-if="$v.password.$dirty && !$v.password.minLength") Пароль слишком маленький, требуемая длина {{$v.password.$params.minLength.min}} символов
      .input-field
        input(id="name" type="text" v-model.trim="name" :class="{ invalid: ($v.name.$dirty && !$v.name.required) || ($v.name.$dirty && $v.name.minLength) || ($v.name.$dirty && !$v.name.alpha) }")
        label(for="name") Name
        small.helper-text.invalid(v-if="$v.name.$dirty && !$v.name.minLength") Слишком коротное имя, требуемая длина {{$v.name.$params.minLength.min}}
        small.helper-text.invalid(v-if="$v.name.$dirty && !$v.name.required") Требуется Имя
        small.helper-text.invalid(v-if="$v.name.$dirty && !$v.name.alpha") Имя может состоять только из букв
      p
        label
          input(type="checkbox" v-model="agree")
          span Согласен
    .card-action
      div
        button.btn.waves-effect.waves-light.auth-submit(type='submit')  
          | Зарегистрироваться
          i.material-icons.right
            | send
      p.center
        | Уже есть аккаунт?
        router-link.light-blue-text(to="/login")
          |   Войти
</template>

<script>
import detectMob from '@/utils/check_mobile';
import { email, required, minLength } from 'vuelidate/lib/validators';
export default {
  name: 'register',
  data: () => ({
    email: '',
    password: '',
    name: '',
    agree: false
  }),
  validations: {
    email: { email, required },
    password: { required, minLength: minLength(6) },
    name: {
      required,
      minLength: minLength(3),
      alpha: val => /^[а-яё]*$/i.test(val) || /^[a-z]*$/i.test(val)
    },
    agree: { checked: v => v }
  },

  methods: {
    detectMobile() {
      return detectMob();
    },
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }

      const formData = {
        email: this.email,
        password: this.password,
        name: this.name
      };

      try {
        await this.$store.dispatch('register', formData);
        this.$router.push('/');
      } catch (e) {
        throw e;
      }
    }
  }
};
</script>

<style>
</style>
