<template lang="pug">
.col.s12.m6
  div
  .page-subtitle
    h4  Редактировать
    form(@submit.prevent="submitHandler")
      .input-field
        select(ref="select" v-model="current")
          option(v-for="c of categories" :key="c.id" :value="c.id") {{c.title}}
        label Выберите категорию
      .input-field
        input(id="name" type="text" v-model="title" :class="{ invalid: $v.title.$dirty && !$v.title.required }")
        label(for="name") Название
        span.helper-text.invalid(v-if="$v.title.$dirty && !$v.title.required") Введите название категории
      .input-field
        input(id="limit" type="number" v-model.number="limit"  :class="{ invalid: ($v.limit.$dirty && !$v.limit.minValue) || ($v.limit.$dirty && !$v.limit.required) }")
        label(for="limit") Лимит
        span.helper-text.invalid(v-if="$v.limit.$dirty && !$v.limit.minValue") Минимальное значение {{$v.limit.$params.minValue.min}}
        span.helper-text.invalid(v-if="$v.limit.$dirty && !$v.limit.required") Лимит обязателен
      button.btn.waves-effect.waves-light(type="submit" style="margin-right:1.5em") Обновить
        i.material-icons.right send  
      button.btn.red(@click.prevent="removeCategory") Удалить
        i.material-icons.right remove_circle 

</template>

<script>
import { required, minValue } from 'vuelidate/lib/validators';
export default {
  data() {
    return {
      select: null,
      title: '',
      limit: 100,
      current: null
    };
  },
  validations: {
    title: { required },
    limit: { required, minValue: minValue(1) }
  },
  props: {
    categories: {
      type: Array,
      required: true
    },
    idx: {
      default: 0
    }
  },
  mounted() {
    //eslint-disable-next-line
    this.select = M.FormSelect.init(this.$refs.select);
    //eslint-disable-next-line
    M.updateTextFields();
  },
  destroyed() {
    if (this.select && this.select.destroy) {
      this.select.destroy();
    }
  },
  created() {
    const { id, title, limit } = this.categories[this.idx];
    this.current = id;
    this.limit = limit;
    this.title = title;
  },
  watch: {
    current(catId) {
      const { title, limit } = this.categories.find(c => c.id == catId);
      this.limit = limit;
      this.title = title;
    }
  },
  methods: {
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }
      try {
        const categoryData = {
          id: this.current,
          title: this.title,
          limit: this.limit
        };
        await this.$store.dispatch('updateCategory', categoryData);
        this.$message('Категория успешно обновлена');
        this.$emit('updated', categoryData);
      } catch (e) {}
    },
    removeCategory() {
      this.$emit('removeCategory', this.current);
    }
  }
};
</script>