<template lang="pug">
table(:style="{ width: '100%' }")
  thead
  tr
    th Сумма
    th Дата
    th Категория
    th Тип
    th Открыть
  tbody
  tr(v-for="(record, idx) of records" :key="record.id")
    td {{record.amount | currency("RUB")}}
    td {{record.date | date('date')}}
    td {{record.categoryName}}
    td
      span.white-text.badge(:class="[record.typeClass]") {{record.typeText}}
    td
      button.btn.btn-small(@click.prevent="$router.push('/detail/' + record.id)"  v-tooltip="'Показать запись'")
        i.material-icons open_in_new
</template>

<script>
export default {
  props: {
    records: {
      required: true,
      type: Array
    }
  }
};
</script>