<template lang="pug">
.col.s12.m6.l4
  .card.light-blue.bill-card
    .card-content.white-text
      span.card-title Ваш счет
      p.currency-line(v-for="cur of currencies" :key="cur")
        span {{getCurrency(cur) | currency(cur)}}
</template>

<script>
export default {
  props: ['rates'],
  data: () => ({
    currencies: ['RUB', 'USD', 'EUR']
  }),
  computed: {
    base() {
      return this.$store.getters.info.bill / this.rates['RUB'];
    }
  },
  methods: {
    getCurrency(currency) {
      return this.base * this.rates[currency];
    }
  }
};
</script>