<template lang="pug">
.col.s12.m6
  div
  .page-subtitle
    h4  Редактировать
    form(@submit.prevent="submitHandler")
      .input-field
        input(id="name" type="text" v-model="title" :class="{ invalid: $v.title.$dirty && !$v.title.required }")
        label(for="name") Название
        span.helper-text.invalid(v-if="$v.title.$dirty && !$v.title.required") Введите название категории
      .input-field
        input(id="limit" type="number" v-model.number="limit"  :class="{ invalid: ($v.limit.$dirty && !$v.limit.minValue) || ($v.limit.$dirty && !$v.limit.required) }")
        label(for="limit") Лимит
        span.helper-text.invalid(v-if="$v.limit.$dirty && !$v.limit.minValue") Минимальное значение {{$v.limit.$params.minValue.min}}
        span.helper-text.invalid(v-if="$v.limit.$dirty && !$v.limit.required") Лимит обязателен
      .row
        button.btn.waves-effect.waves-light(type="submit" style="margin-right:1.5em") Обновить
          i.material-icons.right send
      .row
        button.btn.red(@click.prevent="removeMoneyBox") Удалить
          i.material-icons.right remove_circle

</template>

<script>
import { mapGetters } from 'vuex';
import { required, minValue } from 'vuelidate/lib/validators';
export default {
  data() {
    return {
      title: '',
      limit: 100,
      current: null
    };
  },
  validations: {
    title: { required },
    limit: { required, minValue: minValue(1) }
  },
  props: {
    moneyBox: {
      required: true
    }
  },
    computed: {
    ...mapGetters(['info'])
  },
  mounted() {
    //eslint-disable-next-line
    this.select = M.FormSelect.init(this.$refs.select);
    //eslint-disable-next-line
    M.updateTextFields();
  },
  created() {
    const { id, title, limit, amount } = this.moneyBox;
    this.current = id;
    this.limit = limit;
    this.title = title;
    this.amount = amount
  },
  methods: {
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }
      try {
        const moneyBoxData = {
          id: this.current,
          title: this.title,
          limit: this.limit,
          amount: 0
        };
        await this.$store.dispatch('updateMoneyBox', moneyBoxData);
        this.$message('Копилка успешно обновлена');
        this.$emit('updated', this.current);
      } catch (e) {}
    },
    async removeMoneyBox() {
      try {
        let bill = this.$store.getters.info.bill + this.amount;
        await this.$store.commit('setInfo', { bill });
        await this.$store.dispatch('deleteMoneyBox', this.current);
        this.$message('Копилка удалена, средства с неё были переведены на ваш счет')
        this.$router.push('/moneyboxes');
      } catch (error) {}
    }
  }
};
</script>