<template lang="pug">
table(:style="{ width: '100%' }")
  thead
  tr
    th Сумма
    th Дата
    th Тип
  tbody
  tr(v-for="rec of recs" :key="rec.id")
    td
      h6 {{rec.amount | currency("RUB")}}
    td {{rec.date | date('datetime')}}
    td
      span.white-text.badge(:class="[rec.typeClass]") {{rec.typeText}}
</template>

<script>
export default {
  data() {
    return {
      recs: []
    };
  },
  props: {
    records: {
      required: true,
      type: Array
    }
  },
  mounted() {
    this.recs = this.records;
    this.recs = this.recs
      .map(rec => {
        return {
          ...rec,
          typeClass: rec.type === 'income' ? 'green' : 'red',
          typeText: rec.type === 'income' ? 'Положили' : 'Сняли'
        };
      })
      .reverse();
  }
};
</script>