<template lang="pug">
.col.s12.m6.l4
  a( href="#" @click.prevent="$router.push('/moneybox/' + moneyBoxData.id)")
    .card.bill-card(:class="moneybox.color")
      .card-content.white-text
        h3 {{moneyBoxData.title}} 
        h5
          | {{moneyBoxData.amount | currency }} из {{moneyBoxData.limit | currency}}
        .progress
          .determinate(:style="{width: moneyBoxData.progressPercent + '%'}" :class="[moneyBoxData.progressColor]")
</template>

<script>
export default {
  props: ['moneybox'],
  data: () => ({
    moneyBoxData: {}
  }),

  async mounted() {
    try {
      const percent = (100 * this.moneybox.amount) / this.moneybox.limit;
      const progressPercent = percent > 100 ? 100 : percent;
      const progressColor =
        percent < 60 ? 'green' : percent < 100 ? 'yellow' : 'blue';
      this.moneyBoxData = {
        ...this.moneybox,
        percent,
        progressPercent,
        progressColor
      };
    } catch (error) {}
  }
};
</script>