<template lang="pug">
.col.s12.m6
  div
    .page-subtitle
      h4 Создать
    form(@submit.prevent="submitHandler")
      .input-field
        input(id="name" type="text" v-model="title" :class="{ invalid: $v.title.$dirty && !$v.title.required }")
        label(for="name") Название
        span.helper-text.invalid(v-if="$v.title.$dirty && !$v.title.required") Введите название категории
      .input-field
        input(id="limit" type="number" v-model.number="limit"  :class="{ invalid: $v.limit.$dirty && !$v.limit.minValue }")
        label(for="limit") Цель
        span.helper-text.invalid(v-if="$v.limit.$dirty && !$v.limit.minValue") Минимальное значение {{$v.limit.$params.minValue.min}}
      button.btn.waves-effect.waves-light(type='submit') Создать
        i.material-icons.right send
</template>

<script>
import { required, minValue } from 'vuelidate/lib/validators';
export default {
  data: () => ({
    title: '',
    limit: 100,
    colors: [
      'green',
      'red',
      'orange',
      'blue',
      'grey',
      'purple',
      'green',
      'light-blue'
    ],
    color: null
  }),
  validations: {
    title: { required },
    limit: { minValue: minValue(1) }
  },
  mounted() {
    //eslint-disable-next-line
    M.updateTextFields();
    this.color = this.generateColor;
  },
  computed: {
    generateColor() {
      return this.colors[Math.floor(Math.random() * this.colors.length)];
    }
  },
  methods: {
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }
      try {
        const category = await this.$store.dispatch('createMoneyBox', {
          title: this.title,
          limit: this.limit,
          color: this.color
        });
        this.title = '';
        this.limit = 1;
        this.$v.$reset();
        if (category === null) {
          this.$error('Копилка с таким названием уже существует');
        } else {
          this.$message('Копилка была создана');
          this.$emit('created', category);
        }
      } catch (error) {}
    }
  }
};
</script>