<template lang="pug">
.row
  div(v-for="moneybox in moneyboxes" :key="moneybox.id")
    MoneyBox(:moneybox="moneybox")

</template>

<script>
import MoneyBox from '@/components/MoneyBox';
export default {
  data: () => ({
    moneyboxes: null
  }),
  async mounted() {
    this.moneyboxes = await this.$store.dispatch('fetchMoneyBoxes');
  },
  components: {
    MoneyBox
  }
};
</script>