.empty-layout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5rem;
  height: 100vh
}

.auth-card {
  width: 500px
}

.auth-submit {
  width: 100%
}

.helper-text.invalid {
  color: #f44336
}

.app-page {
  padding: 2rem
}

.app-main-layout {
  position: relative;
  min-height: 100vh
}

.app-sidenav {
  padding-top: 5px;
  position: absolute;
  top: 64px;
  width: 250px;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  bottom: 0 !important;
  height: auto !important
}

.app-sidenav.open {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px !important;
  padding: 0 2rem;
  z-index: 1000
}

.nav-wrapper {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.nav-wrapper,
.navbar-left {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.navbar-left>a {
  margin-right: 1rem
}

.app-content {
  padding-top: 64px;
  padding-left: 250px;
  transition: padding-left .3s;
  position: relative
}

.app-content.full {
  padding-left: 0
}

.page-title {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: solid 1px rgba(51, 51, 51, .12)
}

.page-title a {
  color: #000;
  opacity: .8
}

.page-subtitle h4,
.page-title h3,
.page-title h4 {
  margin: 0;
  font-size: 2rem
}

.page-subtitle h4,
.page-title {
  margin-bottom: 2rem
}

.app-loader,
.currency-line,
.page-title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.app-loader {
  width: 100%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 2rem
}

.currency-line {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid #fff;
  padding-bottom: 1rem;
  padding-top: 1.5rem
}

.currency-line span {
  font-size: 1.5rem
}

.bill-card {
  height: 310px
}

.pointer {
  cursor: pointer
}

.form {
  max-width: 500px
}

.breadcrumb-wrap,
.breadcrumb-wrap a,
.breadcrumb-wrap a:before {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.breadcrumb-wrap {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.breadcrumb-wrap a,
.breadcrumb-wrap a:before {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: rgba(0, 0, 0, .7) !important
}

.history-chart {
  max-width: 600px;
  margin: 0 auto
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left: 7%;
}