<template lang="pug">
div
  .grey.darken-1.empty-layout
    router-view
</template>


<script>
import { KEYS } from '@/utils/messages';
export default {
  name: 'empty',
  computed: {
    error() {
      return this.$store.getters.error;
    }
  },
  watch: {
    error(fbError) {
      this.$error(KEYS[fbError.code] || 'Something went wrong');
    }
  }
};
</script>

<style>
</style>