<template lang="pug">
div(:style="{ width: '100%' }")
  Loader(v-if="loading")
  .app-main-layout(v-else)
    navbar(@open_sidebar="isOpen=!isOpen")
    sidebar(v-model="isOpen" :key="locale" @close_sidebar="isOpen=!isOpen")
    main.app-content(:class="{ full: !isOpen }")
      .app-page
        router-view 
    .fixed-action-btn
      router-link.btn-floating.btn-large.blue(to="/record" v-tooltip="'Создать новую запись'")
        i.large.material-icons add
</template>

<script>
import Navbar from '@/components/app/Navbar';
import Sidebar from '@/components/app/Sidebar';
export default {
  components: {
    Navbar,
    Sidebar
  },
  async mounted() {
    if (!Object.keys(this.$store.getters.info).length) {
      await this.$store.dispatch('fetchInfo');
    }
    this.loading = false;
  },
  data: () => ({
    isOpen: false,
    loading: true
  }),
  computed: {
    locale() {
      return this.$store.getters.info.locale;
    }
  },
  name: 'main-layout'
};
</script>
